<?xml version="1.0" encoding="utf-8"?>
<odoo>        
        <menuitem id="menu_action_vas_general_ledger_report"
        name="VAS - General Ledger"
            parent="onnet_vas_base.tt200_report_root"
                sequence="50"
                action="onnet_vas_general_journal_report.action_vas_general_ledger_report"/>
</odoo>
